<!DOCTYPE html>
<html>
<head>
    <title>Exchange</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <select name="select1">
            <option value="USD">USD</option>
            <option value="AZN">AZN</option>
            <option value="EUR">EUR</option>
        </select>
        <select name="select2">
            <option value="USD">USD</option>
            <option value="AZN">AZN</option>
            <option value="EUR">EUR</option>
        </select>
        <br><br>
        <input type="text" name="answer">
        <br><br>
        <button>Hesabla</button>
    </form>
    <br><br>
    {{ data }}
</body>
</html>
